.new-collection{
    display: flex;
   flex-direction: column;
   align-items: center;
   height: 150vh; 
   gap: 20px;
}
.new-collection h1{
   color: #121d57;
   font-size: 50px ;
   font-weight: 700;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   ;
}
.new-collection hr{
   width: 250px;
   height: 7px;
   border-radius: 10px;
   margin-left: auto;
   margin-right: auto;
   color:red;
   opacity: 70%;
}
.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  
    gap: 30px;
    margin-top: 50px;
}
